/* Header  */
header {
    width: 1440px;
    margin: 0 auto;
    background-color: #2A9D8F;
    padding: 38px 130px;

}

.main_logo {
    vertical-align: middle;
    margin-right: 688px;
}

.header_nav {
    display: inline-block;
    vertical-align: middle;
}

.header_li {
    display: inline-block;
    font-size: 32px;
    font-weight: 400;
    line-height: 32px;
    letter-spacing: 0.005em;
    font-family: "Nerko One", cursive;
}

.active,
.no_active {
    color: #FFFFFF;
}

.middle_li {
    margin-inline: 80px;
}

/* Cover image  */

.cover_1 {
    display: block;
    margin: auto;
}


/* Section  */
section {
    display: block;
    margin: auto;
    width: 1440px;
    background-color: #C2F3EE;
    padding-block: 80px;
    padding-left: 130px;
}

.section_image {
    margin-right: 120px;
    vertical-align: top;
}

/* Article  */
article {
    display: inline-block;
    margin: auto;
    width: 457px;
    vertical-align: top;

}

.section_article_title {
    font-size: 32px;
    font-weight: 700;
    line-height: 48px;
    letter-spacing: 0.005em;
    font-family: "Poppins", sans-serif;
}

.section_article_text {
    font-size: 18px;
    font-style: italic;
    font-weight: 400;
    line-height: 27px;
    letter-spacing: 0.005em;
    font-family: "Poppins", sans-serif;

}

.article_2 {
    height: 324px;
    width: 780px;
    display: block;
    margin: auto;
    margin-block: 180px;
    font-family: "Poppins", sans-serif;

}

.article_2_title {
    font-size: 48px;
    font-weight: 700;
    line-height: 48px;
    letter-spacing: 0.005em;
    text-align: center;
    margin-bottom: 80px;
    color: #06686E;


}

.article_2_text {
    font-size: 24px;
    font-weight: 400;
    line-height: 36px;
    letter-spacing: 0.005em;
    text-align: justified;
    font-family: "Nerko One", cursive;
    color: #337C81;
}

/* Footer  */
footer {
    width: 1440px;
    height: 327px;
    background-color: #2A9D8F;
    display: block;
    margin: auto;
    padding: 88px 130px;
    font-family: "Poppins", sans-serif;
}

nav {
    display: inline-block;
    margin: auto;
}

.nav_ul_li {
    font-size: 18px;
    font-weight: 400;
    line-height: 27px;
    font-family: "Poppins", sans-serif;
    color: #FFFFFF;
    margin-left: 934px;
}

.nav_title {
    color: #FFFFFF;
    margin-left: 934px;
    margin-bottom: 24px;
    font-family: "Poppins", sans-serif;
    font-size: 24px;
    font-weight: 700;
    line-height: 30px;




}